@model IEnumerable<FirstMvcProject.Models.Category>

<div class="container p-3">
    <div class="row">

        <div class="col-6">
            <h2 class="text-primary">Kategori Listesi</h2>
        </div>

        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create">Yeni Kategori Ekle</a>
        </div>

    </div>

    <div class="row pt-4">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Kategori Adı</th>
                        <th>Sıra</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.DisplayOrder</td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Category" asp-action="Edit" asp-route-Id="@item.Id">Düzenle</a>
                                <a class="btn btn-danger" data-id="@item.Id" onclick="DeleteCategory(@item.Id)">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Tanımlı kategori bulunmuyor.</p>
        }
    </div>

</div>
@section Scripts{
    <script>
        $(function () {
            //alert("Silmek istediğinizden emin misiniz?");
            

        })
        function DeleteCategory(id) {
            Swal.fire({
                title: 'Sil?',
                text: "Kategoriyi silmek istediğinizden emin misiniz!",
                icon: 'danger',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post('Category/Delete', 'id=' + id, function (result) {
                        if (result.success == false) {
                            Swal.fire(
                                'Hata!',
                                result.error,
                                'danger'
                            )
                        } else if (result.success) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Seçtiğiniz kategori silindi',
                                showConfirmButton: false,
                                timer: 1500
                            }).then((result) => {
                                window.location = location.href;
                            })
                        }


                    })
                }

                //if (result.isConfirmed) {
                //    Swal.fire(
                //        'Silinde!',
                //        'İlgili kategori silindi.',
                //        'success'
                //    )
                //}
            })

            /*if (confirm("Silmek istediğinizden emin misiniz?")) {

                $.post('Category/Delete', 'id=' + id, function (result) {
                    if (result.success == false) {
                        alert(result.error)
                    } else if (result.success) {
                        window.location = location.href;
                    }

                    
                })
            }*/
        }
        $(document).ready(function () {

            //$('#btnDelete').click(function () {
            //    alert(1);
            //});

            //$('.btn-danger').bind('click', function () {
            //    alert($(this).data('id'));
            //});

            
            
            /* else {
                alert("no")
            }*/
        })
    </script>
}